{deps, [
  {cowboy, ".*",
    {git , "git://github.com/extend/cowboy.git", {tag, "0.8.4"}}},
  {lager, ".*",
    {git , "git://github.com/basho/lager.git", {tag, "1.2.2"}}},
  {jsx, ".*",
    {git , "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.1"}}},
  {gproc, ".*",
    {git , "git://github.com/uwiger/gproc.git", {tag, "0.2.16"}}},
  {uuid, ".*",
    {git, "git://gitorious.org/avtobiff/erlang-uuid.git", {tag, "v0.4.3"}}},
  {erlsha2, ".*",
    {git, "git://github.com/vinoski/erlsha2.git", "master"}},
  {meck, ".*",
    {git , "git://github.com/eproxus/meck.git", {tag, "0.7.2"}}},
  {mimetypes, ".*",
    {git, "git://github.com/spawngrid/mimetypes.git", "master"}}

]}.
{sub_dirs, ["rel"]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
